.authentication-page {
  background: radial-gradient(rgb(233, 233, 233), rgb(190, 190, 190));
  height: 100vh;
  padding: 4rem;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;

  @media (max-width: 480px) {
    padding: 4rem 1.5rem;
  }

  .light-bulb {
    width: 300px;
    opacity: 0.85;
    position: absolute;
    top: 0px;
    right: 48px;
    filter: blur(0.6px);

    @media (max-width: 480px) {
      top: -4rem;
      width: 200px;
      right: 20vw;
      display: none;
    }
  }
  .robot {
    width: 400px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    @media (max-width: 480px) {
      left: -35vw;
      bottom: -310px;
      width: 500px;
      transform: rotate(-40deg);
    }
  }
  .content-container {
    display: flex;
    justify-content: center;
    padding-top: 2rem;

    @media (max-width: 480px) {
      //width: 80%;
    }

    .sign-in-container,
    .sign-up-container {
      z-index: 2;
      display: flex;
      flex-direction: column;
      width: max(40vw, 300px);
      background-color: hsl(15, 15%, 70%);
      border: 1px solid hsl(15, 15%, 60%);
      border-radius: 5px;
      padding: 1.5rem;
      height: 420px;

      .google-btn {
        background-color: white;
        color: rgb(49, 49, 49);
      }

      button {
        height: 36px;
        width: 150px;
        font-family: "Comfortaa";
        margin: 0.7rem 0.5rem;
        border-radius: 5px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
        // border-color: hsl(14, 62%, 53%);
        background-color: hsl(14, 62%, 53%);
        color: white;

        &:hover {
          background-color: hsl(14, 62%, 60%);
        }

        .google-btn-items {
          height: 36px;
          display: flex;
          justify-content: center;
          align-items: center;

          .google-icon {
            width: 16px;
            margin-right: 10px;
            margin-bottom: 2px;
          }
        }
      }

      @media (max-width: 480px) {
        height: auto;
        margin-bottom: 3rem;
      }
      .form-switch-btn-container {
        display: flex;

        button {
          width: 50%;
          margin: 1rem auto;
          border-style: none;
          border-radius: 0px;
          font-size: 12px;
          background: hsl(15, 15%, 49%);
        }

        .btnActive {
          background: hsl(14, 62%, 53%);
          border: none;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
      }
      form {
        display: flex;
        flex-direction: column;

        height: 100%;
        .sign-up-btn {
          margin: 10px auto 5px auto;
          display: block;
        }
        .form-row {
          input {
            padding: 6px 10px;
            margin-left: 0px;
            width: 100%;
            border: 1px solid gray;
            border-radius: 3px;
            display: inline-block;
            border: none;
          }
        }
        .div-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 1rem;

          @media (max-width: 900px) {
            flex-direction: column;
          }
          button {
            @media (max-width: 900px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
