* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.body {
  background-image: linear-gradient(
    45deg,
    rgb(255, 123, 0),
    rgb(255, 153, 0),
    rgb(252, 193, 83),
    orange,
    rgb(255, 123, 0)
  );
  background-size: 200%;
  animation: bg-animation 20s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

a {
  color: black;
  text-decoration: none;
}

.header-section {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .left-container {
    max-width: 500px;

    h1 {
      font-size: 64px;
    }
  }

  .info-container {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(
      circle,
      rgb(252, 203, 155) 23%,
      /* rgb 133, 89, 43*/ rgb(255, 168, 54) 100%
    );
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    h2 {
      margin-bottom: 2rem;
    }
  }
}

.calculator-section {
  margin: 1rem 8rem;
  height: 100vh;
}

.articles-section {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  .articles-container {
    display: flex;
    flex-direction: row;
  }
}

// Scrollbar styling

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background: rgb(7, 7, 7);
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 166, 0);
  border: 0.1em solid rgb(155, 95, 0);
  border-radius: 100vw;
}
